<h1>This is <%= @profile.first_name %> <%= @profile.last_name %>'s profile page!</h1>

<% unless @profile.user.friends.include?(current_user) || @profile.user == current_user %>
  <p><%= link_to 'Add Friend', user_create_request_path(params[:id]) %></p>
<% end %>