<h1>Your Friends:</h1>
<% @friends.each do |friend| %>
  <p><%= link_to friend.profile.first_name, profile_path(friend) %></p>
<% end %>
<h1>Pending Requests:</h1>
<% @requests.each do |request| %>
  <p><%= link_to request.profile.first_name, profile_path(request) %></p>
<% end %>
