<ul>
  <h1>Your Friends:</h1>
  <% @friends.each do |friend| %>
    <li><%= link_to friend.profile.first_name, profile_path(friend) %></li>
  <% end %>
</ul>
<ul><br><br>
  <h1>Pending Requests:</h1>
  <% @requests.each do |request| %>
    <li><%= link_to request.profile.first_name, profile_path(request) %></li>
  <% end %>
</ul>
