<h2>Below is a list of all users:</h2>
<% @users.each do |user| %>
  <% unless user == current_user %>
    <h5 class="d-flex flex-column mb-3">
      <div class="p-2 flex-fill">
          <%= image_tag user_avatar(user), class: "rounded-circle shadow-1-strong me-3" %>
        <%= link_to user.full_name, user %>
        <% unless user.friends.include?(current_user) || @user == current_user %>
          <small><span class="badge bg-primary rounded-pill"><%= link_to 'Add Friend', user_create_request_path(user), class: "link-light link-underline-opacity-0" %></span></small>
        <% end %>
      </div>
    </h5>
  <% end %>
<% end %>